fastapi
uvicorn
torch
torchvision
torchaudio
diffusers
transformers
accelerate
rembg
onnxruntime
opencv-python
pillow
numpy<2
realesrgan
basicsr
facexlib
gfpgan
python-multipart
sentencepiece
safetensors
scipy
requests
pydantic
simple-lama-inpainting
fire

